target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
application-production.properties

files-dir
/VehicleManager/.settings
/VehicleManager/.classpath
/VehicleManager/.project
/VehicleManager/src/main/resources/other/myKeystore.p12
.idea
.vscode
.mvn
.settings
*.iml
.project
.classpath