<!DOCTYPE HTML>
<html th:lang="#{general.languague.code}" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title th:text="#{print.vehicles.title}">Print Vehicles</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
	    
   		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Bootstrap library -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>
    <body>
    	<div th:each="vehicle : ${vehicles}">
    	
    		<h2 th:text="${vehicle.name}"></h2>
    		<h4><span th:text="#{print.header.brand}">Brand</span><span>: </span><span th:text="${vehicle.brand}"></span></h4>
    		<h4><span th:text="#{print.header.acquisitionDate}">Acquisition Date</span><span>: </span><span th:text="${vehicle.acquisitionDate}"></span></h4>
    		
    		<!-- ###################### Notes Section ############################# -->
    		<h3 th:text="#{print.section.notes.header }">Notes</h3>
	    	<table class="table table-condensed table-hover table-striped table-bordered">
		    	<thead>
		    		<tr>
			    		<th th:text="#{print.section.notes.table.note}">Note</th>
			    	</tr>
		    	</thead>
		    	<tbody>
		    		<tr th:each="note : ${vehicle.notes}">
		    			<td th:text="${note.description}"></td>	 
		    		</tr>
		    	</tbody>
		    </table>
		    
		    <!-- ###################### Registrations Section ############################# -->
		    <h3 th:text="#{print.section.registrations.header}">Registrations</h3>
	    	<table class="table table-condensed table-hover table-striped table-bordered">
		    	<thead>
		    		<tr>
		    			<th th:text="#{print.section.registrations.table.time}">Hours/Km</th>
		    			<th th:text="#{print.section.registrations.table.description}">Description</th>
		    			<th th:text="#{print.section.registrations.table.date}">Date</th>
		    		</tr>
		    	</thead>
		    	<tbody>
	   				<tr th:each="registration : ${vehicle.registries}">
		    			<td th:text="${registration.time}"></td>
		    			<td th:text="${registration.description}"></td>
		    			<td th:text="${registration.date}"></td>
		    		</tr>
		    	</tbody>
		    </table>
    	</div>
    	
    </body>
</html>