<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Acesso Negado</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
	    
	    <!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<!-- Bootstrap JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="/css/mycss.css"/>
	</head>
	<body>
		<div class="jumbotron horizontal-center vertical-center"> 
	  		<div class="container-fluid">
	  			<h1 class="text-center"><b>Não tem autorização para ver esta página</b></h1>
	  			<h3 class="text-center">Se encontrou esta página chame pelo André ou retroceda</h3>
	  			<h3 class="text-center"><a href="/login">Clique aqui para efectuar login</a></h3>
	  		</div>
		</div>
	</body>
</html>