<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Erro</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
	    
	    <!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Bootstrap library -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		
		<link rel="stylesheet" href="/css/mycss.css"/>
	</head>
	<body class="Site">
		<div class="Site-content">
			<div class="jumbotron horizontal-center vertical-center"> 
		  		<div class="container-fluid">
		  			<h1 class="text-center"><b>Página não encontrada</b></h1>
		  			<h3 class="text-center">Se encontrou esta página chame pelo André ou retroceda</h3>
		  		</div>
			</div>
		</div>
		<footer>
        	<p class="text-muted text-center">&copy; 2015-2016  ANDRÉ PIRES TODOS OS DIREITOS RESERVADOS Versão: 1.0.0</p>
    	</footer>
	</body>
</html>