<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title th:text="${vehicle.name}"></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<!-- Bootstrap JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Datatable- Needed for Table Awesomeness :) -->
		<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
		<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		
		<!-- Form Validator for Bootstrap 3 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
		
		<script src="/javascript/vehicle.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<div class="container-fluid" data-spy="affix">
						<h2>Menu</h2>                
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a data-toggle="pill" href="#registerTab">Registos <span class="glyphicon glyphicon-list-alt"></span></a></li>
							<li><a data-toggle="pill" href="#notesTab">Notas <span class="glyphicon glyphicon-list-alt"></span></a></li>
							<li><a data-toggle="pill" href="#alertsTab">Alertas <span class="glyphicon glyphicon-time"></span></a></li>
							<li><a data-toggle="pill" href="#filesTab">Ficheiros <span class="glyphicon glyphicon-file"></span></a></li>
							<li><a href="/vehicles">Voltar <span class="glyphicon glyphicon-arrow-left"></span></a></li>
							<li><a href="#">Sair <span class="glyphicon glyphicon-off"></span></a></li>        
						</ul>
					</div>
				</div>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-sm-8">
							<h1 id="vehicleName" th:text="${vehicle.name}"></h1>
							<br></br>
							<div class="row">
								<div class="col-sm-2">
						    		<p><b>Marca:</b></p>
						    		<hr></hr>
						    		<p th:if="${type.equals('licensed')}"><b>Matrícula:</b></p>
								</div>
								<div class="col-sm-2">
									<p th:text="${vehicle.brand}"></p>
									<hr></hr>
									<p th:if="${type.equals('licensed')}" th:text="${vehicle.license.license}"></p>
								</div>
								<div class="col-sm-3">
									<p><b>Data de Aquisição:</b></p>
									<hr></hr>
						    		<p th:if="${type.equals('licensed')}"><b>Data da Matrícula:</b></p>
								</div>
								<div class="col-sm-5">
									<p><span th:text="${vehicle.acquisitionDate}"></span><span><b th:text="${' há ' + vehicle.calculateAcquisitionYears() + ' anos'}"></b></span></p>
									<hr></hr>
									<p th:if="${type.equals('licensed')}" th:text="${vehicle.license.date}"></p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<img th:src="${'/image/' + vehicle.name}" width="210vw" height="165vh" class="img-thumbnail" alt="Foto do Veículo"/>
						</div>
					</div>
					
					<hr></hr>
					
				    <div class="tab-content">
					    <div id="registerTab" class="tab-pane fade in active">
					    	<h2>Registos</h2>
						    <table id="registrationsTable" class="table table-condensed table-hover table-striped table-bordered">
						    	<thead>
						    		<tr>
						    			<th>NºHoras/Km</th>
						    			<th>Descrição</th>
						    			<th>Data</th>
						    			<th><!-- Needed for DataTable Plugin --></th>
						    		</tr>
						    	</thead>
						    	<tbody>
						    		<tr th:each="registration : ${vehicle.registries}" th:id="${registration.id + 'row'}" >
						    			<td th:text="${registration.time}"></td>
						    			<td th:text="${registration.description}"></td>
						    			<td th:text="${registration.date}"></td>
						    			<td><button type="button" th:id="${registration.id}" class="btn btn-danger delete-reg" data-toggle="modal" data-target="#confirmRegDeleteModal">Apagar</button></td>
						    		</tr>
						    	</tbody>
						    </table>
						    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">Adicionar Registo</button>
						    
						    <div id="registrationModal" class="modal fade" role="dialog">
						    	<div class="modal-dialog">
						    		<div class="modal-content">
						    			<div class="modal-header">
						    				<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Adicionar Registo</h4>
						    			</div>
						    			<div class="modal-body">
						    				<form id="registrationForm" role="form" >
						    					<div class="form-group has-feedback">
						    						<label for="time">NºHoras/Km</label>
						    						<input id="time" class="form-control" type="number" data-minlength="1" placeholder="61500,100..." required="required"/>
						    						<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						    					</div>
						    					<div class="form-group has-feedback">
						    						<label for="description">Descrição</label>
						    						<input id="description" class="form-control" type="text" data-minlength="1" placeholder="Mudar o óleo..." required="required"/>
						    						<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						    					</div>
						    					<div class="form-group has-feedback">
						    						<label for="date">Data</label>
						    						<input id="date" class="form-control" type="date" required="required"/>
						    						<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						    					</div>
						    					<div class="form-group">
						    						<button  type="submit" class="btn btn-success">Adicionar</button>
						    						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						    					</div>
						    				</form>
						    			</div>
						    			<div class="modal-footer">
						    			</div>
						    		</div>
						    	</div>
						    </div>
						    
						    <div id="confirmRegDeleteModal" class="modal fade" role="dialog">
						    	<div class="modal-dialog">
						    		<div class="modal-content">
						    			<div class="modal-header">
						    				<button type="button" class="close" data-dismiss="modal">&times;</button>
						    				<h4>Apagar Registo</h4>
						 				</div>
						    			<div class="modal-body">
						    				<h3>Deseja apagar o registo?</h3>
						    			</div>
						    			<div class="modal-footer">
						    				<button id="deleteRegistration" type="button" class="btn btn-danger">Confirmar</button>
				    						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						    			</div>
						    		</div>
						    	</div>
						    </div>
						    
					    </div>
					    
					    <div id="notesTab" class="tab-pane fade">
					    	<h2>Notas</h2>
						    <table id="notesTable" class="table table-condensed table-hover table-striped table-bordered">
						    	<thead>
						    		<tr>
							    		<th>Nota</th>
							    		<th><!-- Needed for DataTable Plugin --></th>
							    	</tr>
						    	</thead>
						    	<tbody>
						    		<tr th:each="note : ${vehicle.notes}" th:id="${note.id + 'row'}" >
						    			<td th:text="${note.description}"></td>
						    			<td><button th:id="${note.id}" type="button" class="btn btn-danger delete-note" data-toggle="modal" data-target="#confirmNoteDeleteModal">Apagar</button></td>
						    		</tr>
						    	</tbody>
						    </table>
						    
						    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notesModal">Adicionar Nota</button>
						    
						    <div id="notesModal" class="modal fade" role="dialog">
						    	<div class="modal-dialog">
						    		<div class="modal-content">
						    			<div class="modal-header">
						    				<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Adicionar Nota</h4>
						    			</div>
						    			<div class="modal-body">
						    				<form id="noteForm" role="form">
						    					<div class="form-group has-feedback">
								    				<label for="note">Descrição</label>
						    						<input id="note" class="form-control" type="text" placeholder="Referência do filtro..." required="required"/>
						    						<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						    					</div>
						    					<div class="form-group">
							    					<button id="addNote" type="submit" class="btn btn-success">Adicionar</button>
							    					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						    					</div>
						    				</form>
						    			</div>
						    			<div class="modal-footer"></div>
						    		</div>
						    	</div>
						    </div>
						    			
						    <div id="confirmNoteDeleteModal" class="modal fade" role="dialog">
						    	<div class="modal-dialog">
						    		<div class="modal-content">
						    			<div class="modal-header">
						    				<button type="button" class="close" data-dismiss="modal">&times;</button>
						    				<h4>Apagar Nota</h4>
						 				</div>
						    			<div class="modal-body">
						    				<h3>Deseja apagar a nota?</h3>
						    			</div>
						    			<div class="modal-footer">
						    				<button id="deleteNote" type="button" class="btn btn-danger">Confirmar</button>
				    						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						    			</div>
						    		</div>
						    	</div>
					    	</div>    
						    
					    </div>
					    
					    <div id="alertsTab" class="tab-pane fade">
					    	<h2>Alertas</h2>
					    	
					    	<table id="alertsTable" class="table table-condensed table-hover table-striped table-bordered">
						    	<thead>
						    		<tr>
						    			<th>Descrição</th>
						    			<th>Próximo Aviso</th>
						    			<th><!-- Needed for DataTable Plugin --></th>
						    		</tr>
						    	</thead>
						    	<tbody>
						    		<tr th:each="alert : ${vehicle.notifications}">
						    			<td th:text="${alert.description}"></td>
						    			<td th:text="${alert.notiDate}"></td>
						    			<td><button type="button"  class="btn btn-danger delete-reg">Apagar</button></td>
						    		</tr>
						    	</tbody>
						    </table>
					    	
					    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertsModal">Adicionar alerta</button>
					    	
					    	<div id="alertsModal" class="modal fade" role="dialog">
					    		<div class="modal-dialog">
					    			<div class="modal-content">
					    				<div class="modal-header">
					    					<button type="button" class="close" data-dismiss="modal">&times;</button>
					    					<h2>Criar Alerta</h2>
					    				</div>
					    				<div class="modal-body">
					    					<form id="alertForm" role="form">
					    						<div class="form-group has-feedback">
					    							<label for="alertDescription">Descrição:</label>
					    							<input id="alertDescription" class="form-control" type="text" placeholder="Mudar o óleo do motor..." required="required"/>
					    							<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					    						</div>
					    						<div class="form-group has-feedback">
					    							<label for="notiDate">Data de aviso inicial:</label>
					    							<input id="notiDate" class="form-control" type="date" required="required"/>
					    							<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					    						</div>
					    						<div class="form-group has-feedback">
					    							<label for="periodicity">Periodicidade:</label>
					    							<select id="periodicity" class="form-control" required="required">
													    <option>Ano a ano</option>
													    <option>De meio em meio ano</option>
										 		 	</select>
					    							<div class="help-block with-errors"></div>
						    						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					    						</div>
					    						<div class="form-group">
					    							<button class="btn btn-success" type="submit">Submeter</button>
					    							<button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
					    						</div>
					    					</form>
					    				</div>
					    			</div>
					    		</div>
					    	</div>
					    	
					    </div>
					    
					    <div id="filesTab" class="tab-pane fade">
					    	<h2>Ficheiros</h2>
					    	
					    	<!-- TODO -->
					    	
					    </div>
					 			    	
				    	<!-- Alert FAIL modal to show the server response -->
				     	<div id="responseAlertModalFail" class="modal fade" role="dialog">
					    	<div class="modal-dialog">
				    			<div class="modal-content">
					    			<div class="modal-header">
					    				<button type="button" class="close" data-dismiss="modal">&times;</button>
					    				<h2 id="responseAlertFailHeader"></h2>
					    			</div>
					    			<div class="modal-body">
					    				<div class="alert alert-danger">
					    					<strong>Falhou! </strong><span id="responseAlertFailText"></span>
					    				</div>
					    			</div>
					    			<div class="modal-footer">
					    				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					    			</div>
					    		</div>
					    	</div>
				    	</div>
				    	
				    	<!-- Alert SUCCESS modal to show the server response -->
				     	<div id="responseAlertModalSuccess" class="modal fade" role="dialog">
					    	<div class="modal-dialog">
				    			<div class="modal-content">
					    			<div class="modal-header">
					    				<button type="button" class="close" data-dismiss="modal">&times;</button>
					    				<h2 id="responseAlertSuccessHeader"></h2>
					    			</div>
					    			<div class="modal-body">
					    				<div class="alert alert-success">
					    					<strong>Sucesso! </strong><span id="responseAlertSuccessText"></span>
					    				</div>
					    			</div>
					    			<div class="modal-footer">
					    				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					    			</div>
					    		</div>
					    	</div>
				    	</div>
					    
					</div>
				</div>
			</div>
		</div>
	</body>
</html>