<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Veículos</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    
	   <!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<!-- Bootstrap JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Datatable- Needed for Table Awesomeness :) -->
		<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
		<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		
		<!-- Form Validator for Bootstrap 3 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
		
		<script src="/javascript/vehicles.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<div class="container-fluid" data-spy="affix">
						<h2>Menu</h2>                
						<ul class="nav nav-pills nav-stacked" role="tablist">
							<li><a href="home">Inicio <span class="glyphicon glyphicon-home"></span></a></li>
							<li class="active"><a href="#">Veículos <span class="glyphicon glyphicon-th-list"></span></a></li>
							<li><a href="#">Sair <span class="glyphicon glyphicon-off"></span></a></li>        
						</ul>
					</div>
				</div>
				<div class="col-sm-10">
				
					<h2>Veículos</h2>
					
				    <table id="vehicles" class="table table-condensed table-hover table-striped table-bordered">
					    <thead>
					      <tr>
					        <th>Nome</th>
					        <th>Marca</th>
					        <th>Data Aquisição</th>
					        <th></th>
					      </tr>
					    </thead>
					    <tbody id="vehiclesBody">
					      <tr th:id="${vehicle.name + 'row'}" th:each="vehicle : ${listLicensed}">
					      	<td><a th:href="${'vehicle/' + vehicle.name + '?type=licensed'}" th:text="${vehicle.name}"></a></td>
					      	<td th:text="${vehicle.brand}"></td>
					      	<td th:text="${vehicle.acquisitionDate}"></td>
					      	<td><button th:id="${vehicle.name}" type="button" class="btn btn-danger del-vehicle" data-toggle="modal" data-target="#confirmModal">Apagar</button></td>
					      </tr>
					      <tr th:id="${vehicle.name + 'row'}" th:each="vehicle : ${listUnlicensed}">
					      	<td><a th:href="${'vehicle/' + vehicle.name + '?type=unlicensed'}" th:text="${vehicle.name}"></a></td>
					      	<td th:text="${vehicle.brand}"></td>
					      	<td th:text="${vehicle.acquisitionDate}"></td>
					      	<td><button th:id="${vehicle.name}" type="button" class="btn btn-danger del-vehicle" data-toggle="modal" data-target="#confirmModal">Apagar</button></td>
					      </tr>
					    </tbody>
	  				</table>
	  				
	  				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vehicleModal">Criar Veículo <span class="glyphicon glyphicon-modal-window"></span></button>
	  				
	  				<!-- ================== All the Modals/Alerts ====================== -->
	  				
	  				<!-- Modal Add vehicles -->
					<div id="vehicleModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Criar Veículo</h4>
								</div>
								<div class="modal-body">
									<form id="createVehicleForm" role="form">
										<div class="form-group has-feedback">
											<label for="name" class="control-label">Nome:</label>
											<input id="name" class="form-control" name="name" data-remote="/vehicle" data-error="Veículo já existe" type="text" placeholder="Nome do Veículo" maxlength="40" required="required"/>
											<div class="help-block with-errors"></div>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
										<div class="form-group has-feedback">
											<label for="brand" class="control-label">Marca:</label>
											<input id="brand" class="form-control" type="text" maxlength="20" placeholder="Ford,Kubota..." required="required"/>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
										<div class="form-group has-feedback">
											<label for="acquisitionDate" class="control-label">Data de Aquisição:</label>
											<input id="acquisitionDate" class="form-control" type="date" required="required"></input>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
										<div class="form-group">
											<label for="file" class="control-label">Fotografia do Veículo (Opcional):</label>
											<input id="file" name="file" type="file"></input>
										</div>
										<div class="form-group has-feedback">
											<label for="license" class="control-label">Matrícula (Opcional):</label>
											<input id="license" name="license" class="form-control" data-remote="/license" data-error="Formato errado" placeholder="HH-88-90,19-99-AH,.."/>
											<div class="help-block with-errors"></div>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											
											<label for="licenseDate" class="control-label">Data da Matrícula (Opcional):</label>
											<input id="licenseDate" class="form-control" type="date"/>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-success">Submeter</button>
											<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
											<button type="reset" class="btn btn-primary">Reset</button>
										</div>
									</form>
								</div>
								<div class="modal-footer">
								</div>
							</div>
						</div>
					</div>
	  				
	  				<!-- Confirm Vehicle Delete Modal -->
	  				<div id="confirmModal" class="modal fade" role="dialog">
	  					<div class="modal-dialog">
	  						<div class="modal-content">
		  						<div class="modal-header">
		  							<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Remover Veículo</h4>
		  						</div>
		  						<div class="modal-body">
		 							<h5>Deseja mesmo apagar o veículo?</h5>
		  						</div>
		  						<div class="modal-footer">
		 							<button id="confirm" type="button" class="btn btn-danger">Confirmar</button>
		 							<button id="cancel" type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button> 						
		  						</div>
		  					</div>
	  					</div>
	  				</div>	  				
	  				
	  				<!-- Alert FAIL modal to show the server response -->
			     	<div id="responseAlertModalFail" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
			    			<div class="modal-content">
				    			<div class="modal-header">
				    				<button type="button" class="close" data-dismiss="modal">&times;</button>
				    				<h2 id="responseAlertFailHeader"></h2>
				    			</div>
				    			<div class="modal-body">
				    				<div class="alert alert-danger">
				    					<strong>Falhou! </strong><span id="responseAlertFailText"></span>
				    				</div>
				    			</div>
				    			<div class="modal-footer">
				    				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				    			</div>
				    		</div>
				    	</div>
			    	</div>
				    	
			    	<!-- Alert SUCCESS modal to show the server response -->
			     	<div id="responseAlertModalSuccess" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
			    			<div class="modal-content">
				    			<div class="modal-header">
				    				<button type="button" class="close" data-dismiss="modal">&times;</button>
				    				<h2 id="responseAlertSuccessHeader"></h2>
				    			</div>
				    			<div class="modal-body">
				    				<div class="alert alert-success">
				    					<strong>Sucesso! </strong><span id="responseAlertSuccessText"></span>
				    				</div>
				    			</div>
				    			<div class="modal-footer">
				    				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				    			</div>
				    		</div>
				    	</div>
			    	</div>
	  				
				</div>
			</div>
		</div>
	</body>
</html>